<footer class="footer">
   <div class="footer-container1">
    <a class="footer-link" href="">green.harvest</a>
    <p>Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
</div>
   <div class="footer-container3">
    <ul class="footer-list">
        <li class="footer-item">how it works</li>
        <li class="footer-item">vegetables</li>
        <li class="footer-item">reviews</li>
    </ul>
   </div>
   <div class="footer-container3">
    <address class="footer-address">
  <ul class="footer-address-list">
    <li class="footer-address-item"><a class="footer-address-link" href="">+380 (68) 443-94-26</a></li>
    <li class="footer-address-item">1678 S. Pioneer Road Salt Lake City UT 84104</li>
  </ul>
    </address>
   </div>
   <div class="footer-container4"> <a class="footer-container4-link" href="">Privacy Policy / Cookie settings</a>
    <p class="footer-container4-text">©Green Harvest 2023</p></div>
</footer>