<footer>
   <div>
    <h3>green.harvest</h3>
    <p>Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
</div>
   <div>
    <ul>
        <li>how it works</li>
        <li>vegetables</li>
        <li>reviews</li>
    </ul>
   </div>
   <div>
    <address>
  <ul>
    <li><a href="">+380 (68) 443-94-26</a></li>
    <li><a href="">1678 S. Pioneer Road Salt Lake City UT 84104</a></li>
  </ul>
    </address>
   </div>
   <div>Privacy Policy
    /
    Cookie settings
    ©Green Harvest 2023</div>
</footer>