<link rel="stylesheet" href="./css/stalys.css">
<section class="how-it-works-section">
    <div class="container works-container">
        <div class="section-works">
            <h2 class="visually-hidden">How it works</h2>
            <img srcset="./images/frau-2x-mob.jpg 2x,
    ./images/frau-1x-mob.jpg 1x" src="./images/frau-1x-mob.jpg" alt="The girl is cutting fruits." class="works-image"
                width="335" height="450">
        </div>
        <div class="works-list">
            <h3 class="works-title">To order your <span class="works-title-dsr">vegetable</span> basket, simply follow
                these <span class="works-title-dsr">easy steps</span></h3>
            <p class="works-p">Our baskets are assembled with care and delivered straight to your doorstep, so you can
                enjoy the
                taste of fresh fruit without ever leaving your home.</p>

            <ol class="steps-list">
                <li class="steps-item">

                    <h3 class="steps-item-title">Just choose <span class="steps-dsr">the vegetable</span> you want to
                        order by clicking on the checkboxes <span class="steps-dsr">next to it.</span></h3>
                </li>

                <li class="steps-item">


                    <h3 class="steps-item-title">Click on <span class="steps-dsr">the basket</span> and fill out the
                        form.</h3>
                </li>

                <li class="steps-item">


                    <h3 class="steps-item-title">Sit back and relax! Your <span class="steps-dsr">fresh
                            vegetables</span> basket will be delivered.</h3>
                </li>



            </ol>
        </div>
    </div>
    </div>
</section>