.advertisement{
background: #fbfbfb;
padding: 100px 113px;
} 
.advertisement-text{
    font-weight: 600;
        font-size: 76px;
        line-height: 1.05263;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #141414;
}
.advertisement-discount{
    border-radius: 12px;
        width: 808px;
        height: 86px;
        background: #9551de;
}
